<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HH</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Ovo" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navColor navbar-expand-lg fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand brand-name">Happy + Hour(s)</a>
<!--         <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button> -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <button type="button" class="btn btn-success">Log-Out</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead headerBrand">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1 class="row about col-md-10">Enter your zipcode for happy hours near you</h1>
              <form class="form-inline">
  				<div class="form-group">
  					<div class="form-group mx-sm-3">
    					<input type="text" class="form-control" id="inputPassword2" placeholder="Zip Code...">
  					</div>
  					<button type="submit" class="btn searchButton btn-primary">Search</button>
				</form>
              <!-- <span class="subheading">A Blog Theme by Start Bootstrap</span> -->
            </div>
          </div>
        </div>
      </div>
    </header>

	<div class="container">
		<div class="row">
			<div>
				<div class="card-deck">
  					<div class="card">
  						<img class="card-img-top" src="../images/blue.jpg" alt="Card image cap">
  							<div class="card-block">
    							<h4 class="card-title">Blue Sushi Sake Grill</h4>
    							<p class="card-text">Member of a small hip chain crafting an extensive menu of Japanese dishes & top-shelf cocktails.</p>
  							</div>
  							<ul class="list-group list-group-flush">
    							<li class="list-group-item hours">Hour(s) -
    								
        							<a href="#">
          								<i class="fa fa-plus-circle" aria-hidden="true"></i>
        							</a>
     								
     							</li>
    							<li class="list-group-item rating">Foursquare Rating: </li>
  							</ul>
  							<div class="card-block sites">
    							<a href="#" class="card-link">Website</a>
    							<a href="#" class="card-link">Directions</a>
  							</div>
							</div>
							<div class="card">
  								<img class="card-img-top" src="../images/hearth.jpg" alt="Card image cap">
  							<div class="card-block">
    							<h4 class="card-title">Hearth & Dram</h4>
    							<p class="card-text">Progressive wood-fired American fare & cocktails from a whiskey-centric bar in glam, big-city digs.</p>
  							</div>
  							<ul class="list-group list-group-flush">
    							<li class="list-group-item hours">Hour(s) -
    								
        							<a href="#" data-toggle="popover" data-content="And here's some amazing content.">
          								<i class="fa fa-plus-circle" aria-hidden="true"></i>
        							</a>
     								
     							</li>
    							<li class="list-group-item rating">Foursquare Rating: </li>
  							</ul>
  							<div class="card-block sites">
    							<a href="#" class="card-link">Website</a>
    							<a href="#" class="card-link">Directions</a>
  							</div>
							</div>
							<div class="card">
  								<img class="card-img-top" src="../images/jax.jpg" alt="Card image cap">
  							<div class="card-block">
    							<h4 class="card-title">Jax Fish House</h4>
    							<p class="card-text">Upscale chain serving gourmet seafood dishes & creative cocktails in a relaxed, stylish setting.</p>
  							</div>
  							<ul class="list-group list-group-flush">
    							<li class="list-group-item hours">Hour(s) -
    								
        							<a href="#">
          								<i class="fa fa-plus-circle" aria-hidden="true"></i>
        							</a>
     								
     							</li>
    							<li class="list-group-item rating">Foursquare Rating: </li>
  							</ul>
  							<div class="card-block sites">
    							<a href="#" class="card-link">Website</a>
    							<a href="#" class="card-link">Directions</a>
  							</div>
							</div>
							<div class="card">
  								<img class="card-img-top" src="../images/chop.jpg" alt="Card image cap">
  							<div class="card-block">
    							<h4 class="card-title">Denver ChopHouse</h4>
    							<p class="card-text">Diverse cuts for carnivores plus house-brewed ales, small-batch bourbons & half-price happy hour.</p>
  							</div>
  							<ul class="list-group list-group-flush">
    							<li class="list-group-item hours">Hour(s) -
    								
        							<a href="#">
          								<i class="fa fa-plus-circle" aria-hidden="true"></i>
        							</a>
     								
     							</li>
    							<li class="list-group-item rating">Foursquare Rating: </li>
  							</ul>
  							<div class="card-block sites">
    							<a href="#" class="card-link">Website</a>
    							<a href="#" class="card-link">Directions</a>
  							</div>
						</div>
				</div>
			</div>
		</div>
	</div>















	
	<!-- bootstrap set up -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>
</html>