/*styles for full body*/
html,
body,
.view {
    height: 100%;
}

@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }

/*background image styles*/
.view {
    background: url(./images/HH.jpeg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
 
/*logo*/
.header_landing {
	text-align: center;
	color: white;
	padding-top: 17%;
	padding-bottom: 1%;
	font-family: 'Ovo', serif;
	animation-duration: 2s;
  	animation-name: fadeIn;
}

.slogan {
	text-align: center;
	color: white;
	font-family: 'Open Sans', sans-serif;
	animation-duration: 2s;
  	animation-name: fadeIn;
  	padding-bottom: 1%;
}

/*sign in buttons*/
.btn {
  margin:0 auto;
  display:block;
  padding: 16px;
  animation-duration: 1s;
  animation-name: fadeIn;
}

.log-in {
	margin-right: 10px;
}

.sign-up {
	margin-left: 0;
}

.header-form {
	padding: 30px;
}

@media (max-width: 360px) {
	div.row.justify-content-center {
	width: 100%;
	}

	.log-in {
	margin-left:9%;
	width: 100%;
	margin-right: 0;
	margin-bottom: 3%;
	}	

	.sign-up {
	margin-left:9%;
	width:100%;
	background-color: #8b9dc3;
	}

	.header_landing {
		padding-top: 20%;
		font-size: 5rem;
	}

	.slogan {
		font-size: 1rem;
		margin-bottom: 13%;
	}
}


@media (min-width: 361px) and (max-width: 767px) {
div.row.justify-content-center {
	width: 100%;
	}

	.log-in {
	margin-left:8%;
	width: 100%;
	margin-right: 0;
	margin-bottom: 3%;
	}	

	.sign-up {
	margin-left:8%;
	width:100%;
	}

	.header_landing {
		padding-top: 27%;
	}

	.slogan {
		margin-bottom: 17%;
	}
}

/***********/
/*Home page*/
/***********/

/*navigation*/
h1 {
	text-align: center;
}

#mainNav {
	color: white;
}

.navColor {
	background: rgba(43, 43, 43, 0.5);
}

/*header about and search bar*/
.about {
	color: white;
	margin-top: 24%;
	font-family: 'Work Sans', sans-serif;
	font-weight: 200;
	font-size: 4rem;
}

#nameEnter {
	text-align: center;
}

#mainPageCenter {
	text-align: center;
}

.brand-name {
	font-family: 'Ovo', serif;
	font-size: 2rem;
	color: white;
}

/*header photo*/
.headerBrand {
	height: 100%;
	text-align: center;
	background: url(./images/bar.jpeg)no-repeat center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.searchButton {
	padding: .9rem;
	display: inline-block;
	margin-bottom: 2px;
}

.form-group {
	display: initial;
}

.zip{
	color: white;
	font-family: 'Open Sans', sans-serif;
}

#inputName {
	width:20%;
	display: inline-block;
	height: 3.3rem !important;
}

/*card styles*/
.cardNamePad {
	padding:3%;
	max-height: 12%;
	margin-top: 3%;
}

.card-deck .card {
	margin-right: 4px;
	margin-left: 4px;
}

.card {
	width: 25rem;
}

.card-deck {
	margin-top: 4%;
	margin-bottom: 3%;
}

.card-title {
	font-family: 'Ovo', serif;
	font-size: 1.15rem; 
	padding: 2%;
	font-weight: bold;
	text-align: center;
}

.sites {
	text-align: center;
	padding: 6%;
	background-color: #5cb85c;
}

.card-link {
	color:white;
}

.modalOptions {
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
	display: block;
}

.modalBtn {
	margin-top: 1rem;
}

.modalP {
	margin: 0;
}

.timeP {
	margin: 0;
}

.hoursTime {
	padding: 2%;
	margin-top: 3%;
}

/*//home styles for phones*/
@media (max-width: 359px) {
	#mainNav {
		height: 8%;
	}

	.row {
		margin: 0;
	}

	.card {
		width: auto;
		margin-bottom: 3%;
	}

	.card-deck {
		width: 100%;
	}

	.about {
		font-size: 1rem;
		margin-top: 27%;
		margin-left: -3%;
		margin-bottom: 2%;
	}

	.headerBrand {
		height: 40%;
	}

	.searchButton {
		padding: 7%;
		margin-left: 0;
	}
}


@media (min-width: 360px) and (max-width: 767px) {
	#mainNav {
		height: 8%;
	}

	.row {
		margin: 0;
	}

	.card {
		width: auto;
		margin-bottom: 3%;
	}

	.card-deck {
		width: 100%;
	}

	.about {
		font-size: 1.5rem;
		margin-top: 27%;
		margin-left: -3%;
		margin-bottom: 2%;
	}

	.headerBrand {
		height: 40%;
	}

	.searchButton {
		padding: 10%;
		margin-left: 0;
	}
}











